<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head.html :: head"/>

<body>

<nav th:replace="fragments/head.html :: navbar"/>

<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <form th:action="@{/user/update}" th:method="post" th:object="${user}">
                <input type="hidden" th:field="*{id}">
                <div class="form-group">
                    <label>Login</label>
                    <input type="text" class="form-control" th:field="*{login}" placeholder="Enter name">
                    <small th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Name shouldn't be empty</small>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" th:field="*{password}" placeholder="Enter password">
                    <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password shouldn't be
                        empty</small>
                </div>
                <div class="form-group">
                    <label for="roles">Roles</label>
                    <select multiple class="form-control" id="roles" th:field="*{roles}" required>
                        <option th:each="role : ${roles}"
                                th:text="${role.name}"
                                th:value="${role.id}"
                                th:selected="${user.roles?.contains(role)}"></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

<script th:replace="fragments/footer.html :: scripts"/>

</body>

</html>